.invalid {
    font-family: "Calibri", sans-serif;
    font-size: x-small;
    color: red;
}

body {
    background-color: antiquewhite;
}

h1, h3 {
    font-family: "Calibri", sans-serif;
}

a {
    font-size: smaller;
    font-family: "Calibri", sans-serif;

}

label {
    display: inline-block;
    width: 200px;
    font-family: "Calibri", sans-serif;

}

fieldset {
    font-family: "Calibri", sans-serif;
    border: 8px ridge orange;
    background-color: silver;
}

legend {
    font-size: larger;
    font-family: "Calibri", sans-serif;
    text-align: left;
    font-weight: bold;

}

select, input {
    background-color: sandybrown;
}

button {
    padding: 8px 20px;
    background-color: slategray;
    color: orange;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14pt;
}
